@model IEnumerable<K22_TranDuyVu_2210900138.Models.DANH_GIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TDVLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("TDVCreate New", "TDVCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDungDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUAN_TRI.TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACH_HANG.Ten)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ReviewID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoiDungDanhGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DanhGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayDanhGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QUAN_TRI.TenDangNhap)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Game.Ten)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KHACH_HANG.Ten)
    </td>
    <td>
        @Html.ActionLink("TDVEdit", "TDVEdit", new { id = item.ReviewID }) |
        @Html.ActionLink("TDVDetails", "TDVDetails", new { id = item.ReviewID }) |
        @Html.ActionLink("TDVDelete", "TDVDelete", new { id = item.ReviewID })
    </td>
</tr>
}

</table>
